{
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "parser": "astro",
  "semi": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
  {
    "files": "*.css",
    "options": {
      "parser": "css"
    }
  }
]
}