{
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "parser": "astro",
  "semi": false,
  "plugins": ["prettier-plugin-astro"]
}