.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

.navbar {
  width: 100%;
  padding: 10px;
}

.dropdown-btn {
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  padding: 10px;
}

.dropdown-content > a {
  color: black;
  /* top/bottom and right/left*/
  padding: 3px 8px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  border-radius: 4px;
}

.dropdown-content > a:hover {
  background-color: rgba(22, 22, 22, 0.1);
}