---
import Layout from "src/layouts/Layout.astro"
---

<Layout title="Salmaan Saeed">
  <h1>404 Page Not Found</h1>
  <p>
    The page was not found,{" "}
    <a class="text-blue hover:text-blue-dark" href="/PersonalWebsite/">
      click here
    </a>{" "}
    to go back to the home page.
  </p>
</Layout>
