---
import Layout from "src/layouts/Layout.astro";

// images
import profile from "assets/images/salmaan_saeed.webp";
import github from "assets/icons/github.webp";
import linkedin from "assets/icons/linkedin.webp";
import email from "assets/icons/email.webp";
---

<Layout title="Salmaan Saeed">
  <div
    class="grid grid-cols-2 max-sm:grid-cols-1 max-lg:grid-cols-1 gap-4 mb-6 justify-center w-3/4 mx-auto"
  >
    <div class="mx-auto text-center">
      <p class="text-2xl font-bold">Salmaan Saeed</p>
      <p class="text-lg mb-2 mt-2">
        Undergraduate Student <br /> at NJIT
      </p>
      <p class="text-lg mb-2 mt-2">
        <a
          href="mailto: ss3994@njit.edu"
          class="text-blue hover:text-blue-dark"
        >
          ss3994@njit.edu
        </a>
      </p>
      <p class="text-lg mb-2 mt-2">Contact & Profiles:</p>
      <div class="mx-auto w-28 block">
        <a target="_blank" href="mailto: ss3994@njit.edu">
          <img
            class="ml-0.5 mr-0.5 float-left"
            src={email}
            alt="my school email"
            width="35"
            height="35"
          />
        </a>
        <a target="_blank" href="https://github.com/sagedemage">
          <img
            class="ml-0.5 mr-0.5 float-left"
            src={github}
            alt="my github page"
            width="35"
            height="35"
          />
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/salmaan-saeed-6a5582197/"
        >
          <img
            class="ml-0.5 mr-0.5 float-left"
            src={linkedin}
            alt="my linkedin page"
            width="35"
            height="35"
          />
        </a>
      </div>
    </div>
    <div>
      <!-- 405px by 539px -->
      <img
        class="mx-auto max-w-full h-auto block"
        src={profile}
        alt="profile"
        width="225"
        height="300"
      />
    </div>
  </div>
  <div class="mb-4"><hr /></div>
  <p id="about-me">
    I'm a graduate who majored in Information Technology at New
    Jersey Institute of Technology. I'm interested in web and mobile development.
  </p>

  <!-- Work Experience -->
  <p class="font-bold text-2xl border-b-2 border-gray mb-2 mt-2 pb-2">
    Work Experience
  </p>

  <!-- Shoptaki -->
  <p class="mt-3">
    <b class="text-lg"> Software Engineer</b>
    <span class="right_info float-right">May 2023 &#8211 Aug 2023</span><br />
    <i>Shoptaki</i>
    <span class="float-right"><i>New York City, NY</i></span>
    <ul class="list-disc list-inside ml-4">
      <li>
        Planned out and organized tasks in the Kanban board to improve developer
        productivity
      </li>
      <li>
        Refactored the front-end to help improve the maintainability and
        readability of the codebase
      </li>
      <li>
        Documented the front-end to help developers understand the architecture
        of the application
      </li>
      <li>
        Implemented CI/CD to ensure that a quality product is shipped to the
        users
      </li>
      <li>
        Collaborated with my team members to solve issues, plan out project
        tasks, and review pull requests
      </li>
    </ul>
  </p>

  <!-- Relevant Projects -->
  <p class="font-bold text-2xl border-b-2 border-gray mb-2 mt-2 pb-2">
    Relevant Projects
  </p>

  <!-- Book Search -->
  <p class="mt-3">
    <b class="text-lg"
      >Book Search (React Native, Flask, JavaScript, Python)</b
    >
    <span class="right_info float-right">Dec 2023 &#8211 Jan 2024</span>
    <br />
    <b>Git Repository</b>: <a
      class="text-blue hover:text-blue-dark"
      href="https://github.com/sagedemage/BookSearch"
      >BookSearch</a
    >
    <ul class="list-disc list-inside ml-4">
      <li>
        Utilized the Open Library Book Search API to retreive books and its 
        information and display it on a table
      </li>
      <li>
        Programmed tab navigation to make it easy for users to navigate 
        between the screens
      </li>
      <li>
        Setup CI/CD to ensure the robustness of the mobile app and the 
        back-end server
      </li>
      <li>
        Documented a guide to connect the mobile app with the server on 
        the development machine
      </li>
    </ul>
  </p>

  <!-- Notebook -->
  <p class="mt-3">
    <b class="text-lg"
      >Notebook (Django, React, MySQL, SQLite, Python, JavaScript)</b
    >
    <span class="right_info float-right">Aug 2022 &#8211 Sep 2023</span>
    <br />
    <b>Git Repository</b>: <a
      class="text-blue hover:text-blue-dark"
      href="https://github.com/sagedemage/Notebook"
    >
      Notebook
    </a>
    <ul class="list-disc list-inside ml-4">
      <li>
        Utilized CI/CD with GitHub workflows to automate unit testing of the app
      </li>
      <li>
        Implemented REST API for the backend so it can communicate with the
        frontend easily
      </li>
      <li>
        Programmed user authentication where users can register, login, and logout their account
      </li>
      <li>
        Composed unit tests for the REST APIs to ensure that the APIs are stable and work properly
      </li>
    </ul>
  </p>

  <!-- Capstone Project (Jabil) -->
  <p class="mt-3">
    <b class="text-lg"> Senior Frontend Engineer at Jabil (Capstone Project)</b>
    <span class="right_info float-right">Jan 2023 &#8211 May 2023</span>
    <ul class="list-disc list-inside ml-4">
      <li>
        Redesigned the front-end with React and Bootstrap to improve the
        maintainability of the project
      </li>
      <li>
        Utilized components to comply with separation of concerns, and code
        reusability
      </li>
      <li>
        Documented the GUI architecture so that new front-end developers can
        understand how it works
      </li>
      <li>
        Utilized the Kanban board to maximize efficiency in developing features
        with the team
      </li>
      <li>Collaborated in SCRUM meetings to aid team coordination, and improve developer productivity</li>
    </ul>
  </p>
</Layout>
