---
import Layout from 'src/layouts/Layout.astro';

import profile from 'assets/images/salmaan_saeed.webp';
import github from 'assets/icons/github.webp';
import linkedin from 'assets/icons/linkedin.webp';
import email from 'assets/icons/email.webp';
---

<Layout title="Salmaan Saeed">
	<main>
		<div id="profile">
			<div id="profile_info">
				<p id="profile_title"> Salmaan Saeed </p>
				<p class="profile_text"> 
					Undergraduate Student <br /> at NJIT 
				</p>
				<p class="profile_text">
					<a href="mailto: ss3994@njit.edu"> 
						ss3994@njit.edu 
					</a>
				</p>
				<p class="profile_text"> 
					Contact & Profiles: 
				</p>
				<div id="profile_links">
					<a target="_blank" 
						href="mailto: ss3994@njit.edu" class="icon-link">
						<img class="profile_icon" 
							src={email}
							alt="my school email" 
							width="50" height="36" 
						/>
			    	</a>
			    	<a target="_blank" 
						href="https://github.com/sagedemage" class="icon-link">
				    	<img class="profile_icon" 
							src={github} alt="my github page"
							width="36" height="36" 
						/>
			    	</a>
			    	<a target="_blank" 
						href="https://www.linkedin.com/in/salmaan-saeed-6a5582197/" class="icon-link">
				    	<img class="profile_icon" 
							src={linkedin} 
							alt="my linkedin page" 
							width="36" height="36" 
						/>
			    	</a>
		    	</div>
			</div>
			<div>
				<img id="profile_image" src={profile} alt="profile picture" />
			</div>
		</div>
		<div class="hr"><hr /></div>
		<p id="about-me">
			I'm an undergraduate student majoring in Information Technology at New Jersey Institute of Technology. 
			I expect to graduate in December 2023. I'm interested in getting into web development.
		</p>

		<p id="sub_title"> Relevant Projects </p>
		<p> <span class="project_title">
			Notebook (Gin, React, MySQL, SQLite, Git, Go, TypeScript, Docker)</span> <br />
            Git Repository: <a href="https://github.com/sagedemage/Notebook"> Notebook </a></p> 
		<ul>
			<li> Utilized CI/CD with GitHub workflows to automate unit testing of the app </li>
			<li> Implemented REST API for the backend so it can communicate with the frontend easily </li>
			<li> Built user authentication so that users can register, login, and logout their account </li>
			<li> Designed password validation for user registration to check if the password is strong </li>
		</ul>

		<p> <span class="project_title">Discussion Board (Flask, SQLite, Git, Python, JavaScript, Docker)</span> <br />
            Git Repository: <a href="https://github.com/sagedemage/DiscussionBoard"> DiscussionBoard </a></p>
		<ul>
			<li> Implemented CI/CD with GitHub workflows to automate unit testing of the app </li>
			<li> Built user authentication so that users can register, login, and logout their account </li>
			<li> Designed password validation for user registration to check if the password is strong </li>
		</ul>

		<p> <span class="project_title"> Personal Website (Astro, Netlify, Git, JavaScript) </span> <br />
            Git Repository: <a href="https://github.com/sagedemage/PersonalWebsite"> PersonalWebsite </a></p>
        <ul>
			<li> Implemented responsive web design in order for my app to render nicely on mobile and desktop </li>
			<li> Deployed my personal website to Netlify </li>
		</ul>

		<p id="sub_title"> Technical Skills </p>
		<p class="skill"> <span class="skill_item">Languages</span>:
			JavaScript/TypeScript, Python, Go, HTML/CSS, Rust, Bash, Java, and PHP
		</p>
		<p class="skill"> <span class="skill_item">Frameworks</span>: 
			Angular, Django, Flask, Gin, Next.js, Astro, and Bootstrap </p>
		<p class="skill"> <span class="skill_item">Databases</span>: MySQL, MS SQL, and SQLite </p>
		<p class="skill"> <span class="skill_item">Libraries</span>: React, Pandas, and jQuery </p>
		<p class="skill"> <span class="skill_item">Version Control</span>: Git, GitHub, and GitLab </p>
		<p class="skill"> <span class="skill_item">Container Orchestration</span>: Docker, and Kubernetes </p>
		<p class="skill"> <span class="skill_item">Cloud Providers</span>: Azure, and AWS</p>
	</main>
</Layout>

<style>
	#profile {
		display: grid;
		justify-content: center;
		grid-template-columns: 23% 23%;
		grid-column-gap: 18%;
		margin-bottom: 25px;
	}

	#profile_title {
		font-size: 1.75em;
		font-weight: bold;
	}

	#profile_info {
		text-align: center;
	}
	#profile_image {
		display: block;
		max-width: 100%;
		height: auto;
		margin-right: auto;
		margin-left: auto;
	}

	.profile_text {
		font-size: 1.1em;
	}

	#profile_links {
		padding-bottom: 40px;
	 }
	  
	.profile_icon {
		margin-left: 2.5%;
		margin-right: 2.5%;
	}

	div.hr {
		background-color: white;
		clear: both;
		margin-bottom: 20px;
	}

	#sub_title {
		font-size: 1.5em;
		font-weight: bold;
		padding-bottom: 10px;
		border-bottom: 2px solid #D5D5D5;
	}

	.skill {
		border-bottom: 1px solid #D5D5D5;
		padding-bottom: 10px;
	}

	.skill_item {
		font-weight: bold;
	}

	.icon-link {
		text-decoration: none;
	}

	/* mobile portrait layout */
	@media only screen and (max-width: 479px) {
		#profile {
			grid-template-columns: auto;
		}
		#profile_image {
			max-width: 100%;
		}
	}

	/* tablet portrait layout */
	@media only screen and (min-width: 481px) and (max-width: 768px) {
		#profile {
			grid-template-columns: auto;
		}
		#profile_image {
			max-width: 50%;
		}
	}

	/* small screens and laptop layout */
	@media only screen and (min-width: 769px) and (max-width: 1024px) {
		#profile {
			grid-template-columns: auto;
		}
		#profile_image {
			max-width: 50%;
		}
	}
</style>
