---
import Layout from 'src/layouts/Layout.astro';
---

<Layout title="Home">
	<main>
		<h1> Astro App </h1>
		<p>
			This is an Astro App
		</p>
		<p class="green">
			green
		</p>
	</main>
</Layout>

<style>
	.green {
		color: green;
	}
</style>
