---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Salmaan Saeed">
    <div class="mx-auto text-center">
      <p class="text-2xl font-bold">Salmaan Saeed</p>
      <p class="text-lg mb-2 mt-2">Alumni of NJIT</p>
      <p class="text-lg mb-2 mt-2">Contact & Profiles:</p>
      <div class="flex item-center justify-center">
        <a target="_blank" href="https://github.com/sagedemage">
          <img
            class="ml-0.5 mr-0.5 float-left"
            src="icons/github.webp"
            alt="my github page"
            width="35"
            height="35"
          />
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/salmaan-saeed-6a5582197/"
        >
          <img
            class="ml-0.5 mr-0.5 float-left "
            src="icons/linkedin.webp"
            alt="my linkedin page"
            width="35"
            height="35"
          />
        </a>
      </div>
    </div>
    <div>
      <!-- 405px by 539px -->
      <img
        class="mx-auto max-w-full h-auto block mt-6"
        src="images/salmaan_saeed.webp"
        alt="profile"
        width="225"
        height="300"
      />
    </div>


  <div class="mt-6 mb-4"><hr /></div>
  <p id="about-me">
    Hi, my name is Salmaan Saeed. I'm an alumni of <b>New Jersey Institute of Technology</b>. I have a Bachelor of Science in <b>Information Technology</b>. 
    I have desktop support and front-end experience from my internships with Shoptaki and Jabil. I have experience maintaining 
    a Raspberry Pi LDAP server. I wanted to learn how to utilize an OpenLDAP server in order to use a directory service like Active
    Directory. I used my time to learn about Active Directory and its network topology. My goal is to become a Desktop Support Technician. 
  </p>

  <!-- Work Experience -->
  <p class="font-bold text-2xl border-b-2 border-gray mb-2 mt-2 pb-2">
    My Values
  </p>
  <p>Unlike most Americans, I value collectivism more so than individualism.</p>
  <br>
  Here are my <b>values</b>:
  <ul class="list-disc list-inside ml-4">
    <li>Respect your elders and take care of them.</li>
    <li>Sometimes, you have to sacrifice your freedom in order to improve the wellbeing of your family.</li>
    <li>Make sure to maintain a strong bond with your family.</li>
    <li>Stay in touch with your family during hardtimes and struggles.</li>
  </ul>
</Layout>
