---
import Layout from "src/layouts/Layout.astro";

import profile from "assets/images/salmaan_saeed.webp";
import github from "assets/icons/github.webp";
import linkedin from "assets/icons/linkedin.webp";
import email from "assets/icons/email.webp";
---

<Layout title="Salmaan Saeed">
	<main>
		<div class="grid grid-cols-2 max-sm:grid-cols-1 max-lg:grid-cols-1 gap-4 mb-6 justify-center w-3/4 mx-auto">
			<div class="mx-auto text-center">
				<p id="profile_title"> Salmaan Saeed </p>
				<p class="text-lg mb-2 mt-2"> 
					Undergraduate Student <br /> at NJIT 
				</p>
				<p class="text-lg mb-2 mt-2">
					<a href="mailto: ss3994@njit.edu" class="text-blue-600 hover:text-blue-800"> 
						ss3994@njit.edu 
					</a>
				</p>
				<p class="text-lg mb-2 mt-2"> 
					Contact & Profiles: 
				</p>
				<div class="mx-auto w-28 block">
					<a target="_blank" 
						href="mailto: ss3994@njit.edu">
						<img class="ml-0.5 mr-0.5 float-left" 
							src={email}
							alt="my school email"
							width="35" height="35"
						/>
			    	</a>
			    	<a target="_blank" 
						href="https://github.com/sagedemage">
				    	<img class="ml-0.5 mr-0.5 float-left" 
							src={github} alt="my github page"
							width="35" height="35"
						/>
			    	</a>
			    	<a target="_blank" 
						href="https://www.linkedin.com/in/salmaan-saeed-6a5582197/">
				    	<img class="ml-0.5 mr-0.5 float-left" 
							src={linkedin} 
							alt="my linkedin page" 
							width="35" height="35" 
						/>
			    	</a>
		    	</div>
			</div>
			<div>
				<!-- 405px by 539px -->
				<img class="mx-auto max-w-full h-auto block"
					src={profile} 
					alt="profile"
					width="225" height="300"
					/>
			</div>
		</div>
		<div class="mb-4"><hr /></div>
		<p id="about-me">
			I'm an undergraduate student majoring in Information Technology at New Jersey Institute of Technology. 
			I expect to graduate in December 2023. I'm interested in web development.
		</p>

		<p class="font-bold text-2xl border-b-2 border-gray-300 mb-2 mt-2 pb-2"> Work Experience </p>
		<p> <b class="text-lg"> Senior Frontend Engineer </b> <span class="right_info float-right">Jan 2023 &#8211 May 2023</span><br />
            <i>Jabil</i> <span class="float-right"><i>Newark, NJ</i></span>
        <ul class="list-disc list-inside ml-4">
			<li> Redesigned the front-end with React and Bootstrap to improve the maintainability of the project </li>
			<li> Utilized components to comply with separation of concerns, and code reusability </li>
			<li> Documented the GUI architecture so that new front-end developers can understand how it works </li>
			<li> Utilized the Kanban board to maximize efficiency in developing features with the team </li>
			<li> Went to SCRUM meetings to aid team coordination </li>
		</ul>

		<p class="font-bold text-2xl border-b-2 border-gray-300 mb-2 mt-2 pb-2"> Relevant Projects </p>
		<p> <b class="text-lg">
			Notebook (Gin, React, MySQL, SQLite, Git, Go, TypeScript, Docker)</b> <span class="right_info float-right">July 2022 &#8211 March 2023</span> <br />
            Git Repository: <a class="text-blue-600 hover:text-blue-800" href="https://github.com/sagedemage/Notebook"> Notebook </a></p> 
		<ul class="list-disc list-inside ml-4">
			<li> Utilized CI/CD with GitHub workflows to automate unit testing of the app </li>
			<li> Implemented REST API for the backend so it can communicate with the frontend easily </li>
			<li> Built user authentication so that users can register, login, and logout their account </li>
			<li> Designed password validation for user registration to check if the password is strong </li>
		</ul>

		<p> <b class="text-lg">Discussion Board (Flask, SQLite, Git, Python, JavaScript, Docker)</b> <span class="right_info float-right">April 2022 &#8211 July 2022</span> <br />
            Git Repository: <a class="text-blue-600 hover:text-blue-800" href="https://github.com/sagedemage/DiscussionBoard"> DiscussionBoard </a></p>
		<ul class="list-disc list-inside ml-4">
			<li> Implemented CI/CD with GitHub workflows to automate unit testing of the app </li>
			<li> Built user authentication so that users can register, login, and logout their account </li>
			<li> Designed password validation for user registration to check if the password is strong </li>
		</ul>

		<p class="font-bold text-2xl border-b-2 border-gray-300 mb-2 mt-2 pb-2"> Technical Skills </p>
		<p class="border-b border-gray-300 pb-2 mb-2"> <b>Languages</b>:
			JavaScript/TypeScript, Python, Go, HTML/CSS, Rust, Bash, Java, and PHP
		</p>
		<p class="border-b border-gray-300 pb-2 mb-2"> <b>Frameworks</b>: 
			Angular, Django, Flask, Gin, Next.js, Astro, and Bootstrap </p>
		<p class="border-b border-gray-300 pb-2 mb-2"> <b>Databases</b>: MySQL, MS SQL, and SQLite </p>
		<p class="border-b border-gray-300 pb-2 mb-2"> <b>Libraries</b>: React, Pandas, and jQuery </p>
		<p class="border-b border-gray-300 pb-2 mb-2"> <b>Version Control</b>: Git, GitHub, and GitLab </p>
		<p class="border-b border-gray-300 pb-2 mb-2"> <b>Container Orchestration</b>: Docker, and Kubernetes </p>
		<p class="border-b border-gray-300 pb-2 mb-2"> <b>Cloud Providers</b>: Azure, and AWS</p>
	</main>
</Layout>

<style>
	#profile_title {
		font-size: 1.75em;
		font-weight: bold;
	}
</style>

