---
import Layout from "../layouts/Layout.astro"

const title = "Projects"
---

<Layout title={title}>
  <h1>{title}</h1>

  <b>Setup Kubernetes Cluster</b>
  <span class="float-right"> June 2025 - July 2025 </span>

  <span class="block">
    GitHub Repository:
    <a href="https://github.com/sagedemage/setup_kubernetes_cluster"
      >setup_kubernetes_cluster</a
    >
  </span>
  <span class="my-0">Tasks:</span>
  <ul>
    <li>
      Automated the deployment, management, scaling, and networking of
      containers via container orchestration
    </li>
    <li>
      Utilized Prometheus to monitor the resources of the Kubernetes cluster
    </li>
    <li>
      Developed technical documentation for setting up the Kubernetes cluster
    </li>
    <li>
      Harden the pods and networking of the cluster to ensure that it is safe
      and secure from cyber security threats
    </li>
    <li>
      Utilized Docker for the containerization of applications like Nginx,
      MongoDB, and Prometheus
    </li>
  </ul>

  <b>Setup Linux Servers Ansible</b>
  <span class="float-right">June 8, 2025 - June 17, 2025</span>

  <span class="block">
    GitHub Repository:
    <a href="https://github.com/sagedemage/setup_linux_servers_ansible"
      >setup_linux_servers_ansible</a
    >
  </span>
  <span class="my-0">Tasks:</span>
  <ul>
    <li>Automated Linux Server processes via Ansible playbooks</li>
    <li>
      Setup SSH for Ansible to connect to the virtual machines of Linux servers
    </li>
    <li>
      Accessed the Apache and Nginx servers on my host computer via port
      forwarding
    </li>
  </ul>

  <b>Raspberry Pi LDAP Server (OpenLDAP)</b>
  <span class="float-right"> Dec 2024 - May 2025</span>

  <span class="block">
    Documentation:
    <a href="https://sagedemage.github.io/make_raspberry_pi_into_ldap_server/"
      >Make a Raspberry Pi Into a LDAP Server</a
    >
  </span>
  <span class="my-0">Tasks:</span>
  <ul>
    <li>
      Setup a LDAP server to learn how to use a directory service like Active
      Directory
    </li>
    <li>
      Learned to reset user passwords, add users to a group, and create user
      accounts
    </li>
    <li>Utilized a Raspberry Pi as a LDAP server with OpenLDAP</li>
    <li>Wrote documentation to setup the LDAP server.</li>
  </ul>

  <b>Steam Game Review (Systems Integration Class)</b>
  <span class="float-right">Sep 2023 - Dec 2023</span>

  <span class="block">
    Documentation:
    <a href="https://github.com/sagedemage/steam_game_review"
      >steam_game_review</a
    >
  </span>
  <span class="my-0">Tasks:</span>
  <ul>
    <li>
      Documented the technical parts of the project to aid my team members with
      development and configuration
    </li>
    <li>
      Practiced with my team members in order to prepare for the demonstration
      of the system to my professor
    </li>
    <li>Helped my team to connect the virtual machines in a network</li>
    <li>
      Setup HTTPS in order to improve the security of the website by encrypting
      web traffic
    </li>
  </ul>
</Layout>
