#profile {
	float: left;
}

#profile-info {
	text-align: center;
	margin-right: 0%;
}

#profile-image {
	display: block;
	max-width: 30%;
	height: auto;
	margin-left: auto;
  	margin-right: auto;
}

.project-title {
	font-weight: bold;
	font-size: 1.25em;
}


#profile-links {
	padding-bottom: 40px;
 }
  
.profile-icon-link {
	float: none;
	margin-left: 1%;
}

/* mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {
	#profile-image {
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
  		margin-right: auto;
	}
}
