---
// Your component script here!
import github from "assets/icons/github.webp";
import linkedin from "assets/icons/linkedin.webp";
---
<!-- HTML comments supported! -->
{/* JS comment syntax is also valid! */}

<!-- Navbar -->
<div class="navbar bg-sea-green text-green-content fixed">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle max-sm:btn-sm">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-sea-green rounded-box w-52">
          <li><a href="projects">Experimental Projects</a></li>
        </ul>
      </div>
      <a href="/PersonalWebsite/" class="btn btn-ghost normal-case text-lg max-sm:btn-sm">Salmaan Saeed</a>
    </div>
    <div class="navbar-end">
        <a class="btn btn-ghost btn-circle max-sm:btn-sm" href="https://github.com/sagedemage">
            <img class="icon_link" src={github} alt="my github page" width="36" height="36" />
        </a>
        <a class="btn btn-ghost btn-circle max-sm:btn-sm" href="https://www.linkedin.com/in/salmaan-saeed-6a5582197/">
            <img class="icon_link" src={linkedin} alt="my linkedin page" width="36" height="36" />
        </a>
    </div>
  </div>
  <!-- End of Navbar -->