---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Experimental Projects">
  <h1 class="mb-2 font-bold text-3xl">Experimental Projects</h1>
  <p>
    These are some of the other projects I have worked on. Most of these
    projects are experiments or prototypes. None the less, I am cool with anyone
    looking at these projects.
  </p>

  <div class="mt-4 mb-4"><hr /></div>

  <!-- Text Editor 2 -->
  <p class="mt-3">
    <b class="project_title text-lg"> Text Editor 2 (Electron, JavaScript)</b>
    <span class="right_info float-right">Nov 13, 2023 &#8211 Nov 28, 2023</span>
    <br />
    <b>Git Repository</b>: <a
      class="text-blue hover:text-blue-dark"
      href="https://github.com/sagedemage/TextEditor2"
    >
      TextEditor2
    </a>
    <ul class="tasks_done list-disc list-inside ml-4">
      <li>Implemented basic file operations</li>
      <li>Designed the user interface of the GUI program</li>
      <li>Programmed keyboard shortcuts for the file operations</li>
    </ul>
  </p>

  <!-- HTTP Server -->
  <p class="mt-3">
    <b class="project_title text-lg"> HTTP Server (Rust)</b>
    <span class="right_info float-right">Oct 21, 2023 &#8211 Oct 21, 2023</span>
    <br />
    <b>Git Repository</b>: <a
      class="text-blue hover:text-blue-dark"
      href="https://github.com/sagedemage/http-server"
    >
      http-server
    </a>
    <ul class="tasks_done list-disc list-inside ml-4">
      <li>Developed an algorithm to find the html page the user is requesting</li>
      <li>Programmed serving html content via a socket</li>
    </ul>
  </p>

  <!-- Employee Mgmt System -->
  <p class="mt-3">
    <b class="text-lg"
      >Employee Mgmt System (Spring Boot, Vue.js, Java, JavaScript, MySQL)</b
    >
    <span class="right_info float-right">July 2023 &#8211 Aug 2023</span>
    <br />
    <b>Git Repository</b>: <a
      class="text-blue hover:text-blue-dark"
      href="https://github.com/sagedemage/EmployeeMgmtSystem"
      >EmployeeMgmtSystem</a
    >
    <ul class="list-disc list-inside ml-4">
      <li>
        Utilized JPA to provide the back-end access to the database in order for
        it to perform CRUD operations
      </li>
      <li>
        Programmed REST APIs to provide reactive functionality to the front-end
        with the help of Ajax
      </li>
      <li>
        Developed unit tests with JUnit to ensure my program is robust in the
        future
      </li>
      <li>
        Documented the usage of the REST APIs so it is straightforward to create
        UI utilizing the APIs
      </li>
    </ul>
  </p>

  <!-- Venture 2D Game -->
  <p class="mt-3">
    <b class="project_title text-lg"> Venture (SDL2, Rust)</b>
    <span class="right_info float-right">June 18, 2023 &#8211 June 19, 2023</span>
    <br />
    <b>Git Repository</b>: <a
      class="text-blue hover:text-blue-dark"
      href="https://github.com/sagedemage/venture"
    >
      Venture
    </a>
    <ul class="tasks_done list-disc list-inside ml-4">
      <li>Implemented player and object collision</li>
      <li>Added background music to the game</li>
    </ul>
  </p>

  <!-- Socket CLI -->
  <p class="mt-3">
    <b class="project_title text-lg"> Socket CLI (Tokio, Rust)</b>
    <span class="right_info float-right">May 2023 &#8211 June 2023</span>
    <br />
    <b>Git Repository</b>: <a
      class="text-blue hover:text-blue-dark"
      href="https://github.com/sagedemage/socket_cli"
    >
      SocketCLI
    </a>
    <ul class="tasks_done list-disc list-inside ml-4">
      <li>Programmed the client and server communication</li>
      <li>Designed the CLI to be interactive</li>
    </ul>
  </p>

   <!-- Text Editor -->
   <p class="mt-3">
    <b class="project_title text-lg"> Text Editor (QT, C++, CMake)</b>
    <span class="right_info float-right">March 2023 &#8211 April 2023</span>
    <br />
    <b>Git Repository</b>: <a
      class="text-blue hover:text-blue-dark"
      href="https://github.com/sagedemage/TextEditor"
    >
      TextEditor
    </a>
    <ul class="tasks_done list-disc list-inside ml-4">
      <li>Implemented basic file operations</li>
      <li>Designed the user interface of the GUI program</li>
    </ul>
  </p>
</Layout>
