---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Experimental Projects">
  <h1 class="mb-2 font-bold text-3xl">Experimental Projects</h1>
  <p>
    These are some of the other projects I have worked on. Most of these
    projects are experiments or prototypes. None the less, I am cool with anyone
    looking at these projects.
  </p>

  <!-- Socket CLI -->
  <p class="mt-3 text-lg">
    <span class="project_title font-bold"> Socket CLI (Tokio, Rust)</span>
    <span class="right_info float-right">May 2023 &#8211 June 2023</span>
    <br />
    Git Repository: <a
      class="text-blue hover:text-blue-dark"
      href="https://github.com/sagedemage/socket_cli"
    >
      Socket CLI
    </a>
    <ul class="tasks_done list-disc list-inside ml-4">
      <li>Programmed the client and server communication</li>
    </ul>
  </p>

  <!-- Text Editor -->
  <p class="mt-3 text-lg">
    <span class="project_title font-bold"> Text Editor (C++, QT, CMake)</span>
    <span class="right_info float-right">March 2023 &#8211 April 2023</span>
    <br />
    Git Repository: <a
      class="text-blue hover:text-blue-dark"
      href="https://github.com/sagedemage/TextEditor"
    >
      TextEditor
    </a>
    <ul class="tasks_done list-disc list-inside ml-4">
      <li>Implemented basic file operations</li>
    </ul>
  </p>

  <!-- Venture 2D Game -->
  <p class="mt-3 text-lg">
    <span class="project_title font-bold"> Venture (SDL2, Rust)</span>
    <span class="right_info float-right">June 18, 2023 &#8211 June 19, 2023</span>
    <br />
    Git Repository: <a
      class="text-blue hover:text-blue-dark"
      href="https://github.com/sagedemage/venture"
    >
      Venture
    </a>
    <ul class="tasks_done list-disc list-inside ml-4">
      <li>Implemented player and object collision</li>
      <li>Added background music to the game</li>
    </ul>
  </p>
</Layout>
