---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Other Projects">
  <h1 class="mb-2 font-bold text-3xl">Other Projects</h1>
  <p>
    These are some of the other projects I have worked on. Some of these
    projects are old projects and the rest of them are experimental projects.
    None the less, I am cool with anyone looking at these projects.
  </p>

  <div class="mt-4 mb-4"><hr /></div>

  <!-- 2D Platformer -->
  <p class="mt-3">
    <b class="project_title text-lg"> 2D Platformer (SDL2, C++, CMake)</b>
    <span class="right_info float-right"
      >August 2024 &#8211 October 2024</span
    >
    <br />
    <b>Git Repository</b>: <a
      class="text-blue hover:text-blue-dark underline"
      href="https://github.com/sagedemage/2d-platformer"
      title="2D Platformer GitHub repository"
    >
      2d-platformer
    </a>
    <ul class="tasks_done list-disc list-inside ml-4">
      <li>Implemented player and object collision</li>
      <li>Implemented gravity and jump physics</li>
      <li>Added background music to the game</li>
      <li>Designed the layout of the scene</li>
    </ul>
  </p>

  <!-- Book Search -->
  <p class="mt-3">
    <b class="text-lg">Book Search (React Native, Flask, JavaScript, Python)</b>
    <span class="right_info float-right">Dec 2023 &#8211 Jan 2024</span>
    <br />
    <b>Git Repository</b>: <a
      class="text-blue hover:text-blue-dark underline"
      href="https://github.com/sagedemage/BookSearch">BookSearch</a
      title="BookSearch GitHub repository"
    >
    <ul class="list-disc list-inside ml-4">
      <li>
        Utilized the Open Library Book Search API to retrieve books and its
        information
      </li>
      <li>
        Programmed the mobile app to display a list of books including its
        information and cover image
      </li>
      <li>
        Setup CI/CD to ensure the robustness of the mobile app and the back-end
        server
      </li>
      <li>
        Documented a guide to connect the mobile app with the server on the
        development machine
      </li>
    </ul>
  </p>

  <!-- Text Editor 2 -->
  <p class="mt-3">
    <b class="project_title text-lg"> Text Editor 2 (Electron, JavaScript)</b>
    <span class="right_info float-right">Nov 13, 2023 &#8211 Nov 28, 2023</span>
    <br />
    <b>Git Repository</b>: <a
      class="text-blue hover:text-blue-dark underline"
      href="https://github.com/sagedemage/TextEditor2"
      title="Text Editor 2 GitHub repository"
    >
      TextEditor2
    </a>
    <ul class="tasks_done list-disc list-inside ml-4">
      <li>Implemented basic file operations</li>
      <li>Designed the user interface of the GUI program</li>
      <li>Programmed keyboard shortcuts for the file operations</li>
    </ul>
  </p>

  <!-- HTTP Server -->
  <p class="mt-3">
    <b class="project_title text-lg"> HTTP Server (Rust)</b>
    <span class="right_info float-right">Oct 21, 2023 &#8211 Oct 21, 2023</span>
    <br />
    <b>Git Repository</b>: <a
      class="text-blue hover:text-blue-dark underline"
      href="https://github.com/sagedemage/http-server"
      title="Http Server GitHub repository"
    >
      http-server
    </a>
    <ul class="tasks_done list-disc list-inside ml-4">
      <li>
        Developed an algorithm to find the html page the user is requesting
      </li>
      <li>Programmed serving html content via a socket</li>
    </ul>
  </p>

  <!-- Employee Mgmt System -->
  <p class="mt-3">
    <b class="text-lg"
      >Employee Mgmt System (Spring Boot, Vue.js, Java, JavaScript, MySQL)</b
    >
    <span class="right_info float-right">July 2023 &#8211 Aug 2023</span>
    <br />
    <b>Git Repository</b>: <a
      class="text-blue hover:text-blue-dark underline"
      href="https://github.com/sagedemage/EmployeeMgmtSystem"
      title="Employee Management System GitHub repository"
      >EmployeeMgmtSystem</a
    >
    <ul class="list-disc list-inside ml-4">
      <li>
        Utilized JPA to provide the back-end access to the database in order for
        it to perform CRUD operations
      </li>
      <li>
        Programmed REST APIs to provide reactive functionality to the front-end
        with the help of Ajax
      </li>
      <li>
        Developed unit tests with JUnit to ensure my program is robust in the
        future
      </li>
      <li>
        Documented the usage of the REST APIs so it is straightforward to create
        UI utilizing the APIs
      </li>
    </ul>
  </p>

  <!-- Socket CLI -->
  <p class="mt-3">
    <b class="project_title text-lg"> Socket CLI (Tokio, Rust)</b>
    <span class="right_info float-right">May 2023 &#8211 June 2023</span>
    <br />
    <b>Git Repository</b>: <a
      class="text-blue hover:text-blue-dark underline"
      href="https://github.com/sagedemage/socket_cli"
      title="Socket CLI GitHub repository"
    >
      SocketCLI
    </a>
    <ul class="tasks_done list-disc list-inside ml-4">
      <li>Programmed the client and server communication</li>
      <li>Designed the CLI to be interactive</li>
    </ul>
  </p>

  <!-- Text Editor -->
  <p class="mt-3">
    <b class="project_title text-lg"> Text Editor (QT, C++, CMake)</b>
    <span class="right_info float-right">March 2023 &#8211 April 2023</span>
    <br />
    <b>Git Repository</b>: <a
      class="text-blue hover:text-blue-dark underline"
      href="https://github.com/sagedemage/TextEditor"
      title="Text Editor GitHub repository"
    >
      TextEditor
    </a>
    <ul class="tasks_done list-disc list-inside ml-4">
      <li>Implemented basic file operations</li>
      <li>Designed the user interface of the GUI program</li>
    </ul>
  </p>
</Layout>
