
/* css for the app */

#body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#content {
	margin-right: 16%;
    margin-left: 16%;
	
}

.icon-link {
	margin-left: 1%;
}

.scale_image {
	max-width: 50%;
	height: auto;
}

.project_title {
	font-weight: bold;
	font-size: 1.25em;
}

.footer {
	height: 100px;
	text-align: center;
	margin-top: auto;
	padding-top: 20px;
  	border-top: 1px solid #eaeaea;
}

.bg-myGreen {
    background-color: SeaGreen;
}

/* mobile portrait layout */
@media only screen and (max-width: 479px) {
	.scale_image {
		max-width: 100%;
		height: auto;
	}
}

/* tablet portrait layout */
@media only screen and (min-width: 481px) and (max-width: 768px)  { 
	.scale_image {
		max-width: 100%;
		height: auto;
	}
}

/* small screens and laptop layout */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.scale_image {
		max-width: 80%;
		height: auto;
	}
}

