@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-purple: #7e5bef;
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-blue: #005ce6;
  --color-blue-dark: #0047b3;
  --color-pink: #ff49db;
  --color-orange: #ff7849;
  --color-green: #13ce66;
  --color-sea-green: #40bf77;
  --color-yellow: #ffc82c;
  --color-gray-dark: #273444;
  --color-gray: #8492a6;
  --color-gray-light: #d3dce6;

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  --font-display: "Oswald", "sans-serif";
  --font-display--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-display--font-variation-settings: "opsz" 32;
}

html {
    font-family:
      Arial,
      Roboto,
      Helvetica,
      Segoe UI,
      Oxygen,
      Ubuntu,
      Cantarell,
      Fira Sans,
      Droid Sans sans-serif,
      -apple-system,
      BlinkMacSystemFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.1em;
  }
  body {
    flex-direction: column;
    min-height: 100vh;
    display: flex;
  }


