.bg-myGreen {
    background-color: SeaGreen;
}

.gaps {
    margin-right: 4em;
    margin-left: 4em;
}

.indent {
    padding-left: 2em;
}

#links {
	padding-bottom: 40px;
}

.icon-link {
	float: left;
	margin-left: 0.3%;
}

#copyright {
    text-align: center;
}

.scale_image {
	max-width: 50%;
	height: auto;
}

#bottom {
    margin-bottom: 5em;
}
