.bg-myGreen {
    background-color: SeaGreen;
}

#content {
    margin-top: 50px;
}

.gaps {
    margin-right: 16%;
    margin-left: 16%;
}

.indent {
    padding-left: 0em;
}

#links {
	padding-bottom: 40px;
}

.icon-link {
	float: left;
	margin-left: 0.3%;
}

#copyright {
    text-align: center;
}

.scale_image {
	max-width: 50%;
	height: auto;
}

#bottom {
    margin-bottom: 5em;
}
