---
export interface Props {
  title: string;
}

const { frontmatter } = Astro.props;

import '../assets/app.css';
---

<!doctype html>
<html lang='en' data-theme='light'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/PersonalWebsite/favicon.ico' />
    <meta name='description' content="Salmaan's Personal Website" />
    <meta name='generator' content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <!-- Navbar -->
    <div class='navbar bg-base-100 shadow-sm bg-sea-green'>
      <div class='navbar-start'>
        <div class='dropdown'>
          <div tabindex='0' role='button' class='btn btn-ghost btn-circle' aria-label="hamburger-menu">
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-5 w-5'
              fill='none'
              viewBox='0 0 24 24'
              stroke='currentColor'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                stroke-width='2'
                d='M4 6h16M4 12h16M4 18h7'></path>
            </svg>
          </div>
          <ul
            tabindex='0'
            class='menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow bg-sea-green'
          >
            <li><a class="!text-gray-900" href="/PersonalWebsite">Home</a></li>
            <li><a class="!text-gray-900" href="/PersonalWebsite/projects">Projects</a></li>
          </ul>
        </div>
        <a class='btn btn-ghost text-xl !text-gray-900' href="/PersonalWebsite">Salmaan Saeed</a>
      </div>
      <div class='navbar-center'>
      </div>
      <div class='navbar-end'>
      </div>
    </div>

    <!-- Navbar Ends -->

    <main class='prose mx-[16%] sm:mx-[12%] max-w-none mt-8'>
      <slot />
    </main>
    <footer class='h-28 mt-8 pt-5 border-t border-gray-light text-center'>
      <p>&copy; {new Date().getFullYear()} Salmaan Saeed</p>
    </footer>
  </body>
</html>
