---
interface Props {
  title: string;
}
const { title } = Astro.props;

import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/PersonalWebsite/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="description" content="Salmaan's Personal Website" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      html {
        font-family:
          Arial,
          Roboto,
          Helvetica,
          Segoe UI,
          Oxygen,
          Ubuntu,
          Cantarell,
          Fira Sans,
          Droid Sans sans-serif,
          -apple-system,
          BlinkMacSystemFont;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1.1em;
      }

      body {
        flex-direction: column;
        min-height: 100vh;
        display: flex;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <Navbar />
    <main class="prose mx-[16%] sm:mx-[12%] max-w-none mt-24">
      <slot />
    </main>
    <footer class="h-28 mt-8 pt-5 border-t border-gray-light text-center">
      <p>&copy; {new Date().getFullYear()} Salmaan Saeed</p>
    </footer>
  </body>
</html>
